.vscode/
.idea/
.ipynb_checkpoints/
*.pyc
*.log
nohup.out

#config.py
local_config.py

*.txt
*.jpg
*.png
*.model


data/*
data/chinese-poetry/*
data/Poetry/*
data/poetry-master/*
data/shici/*


# 本地文件
local/*
